@use '../base/mixin.scss' as *;
@use '../base/varibles.scss' as *;

.btn-default {
    @include button;
    width: 155px;
    height: clamp(35px, 5vw, 40px);
    transition: 0.2s ease-in;
    // text-transform: uppercase;
    font-size: clamp(12px ,5vw, 15px);
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    background: linear-gradient(100deg, $greyblue 0%, $btnblue 100% );
    position: relative;

    transition: 0.2s ease-in;
    transform: scale(1);
    cursor: pointer;
}

.btn-default:nth-child(2){
    width: 170px;
    color: rgba(240, 255, 255, 0.531);
}

.btn-default:nth-child(2):hover{
    color: white;
}

.btn-default:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

@media screen and (min-width:768px) {
    
.btn-default {
    width: 135px;
    height:clamp(35px, 8vw, 45px);
    font-size: clamp(12px ,8vw, 18px);

}


.btn-default:nth-child(2){
    width: 175px;
    height: clamp(35px, 8vw, 45px);
    color: rgba(240, 255, 255, 0.531);
}

}

@media screen and (min-width:1024px) {
    
.header {
    button {
        width: 160px;
    }
}

.btn-default {
    width: 205px;
    height:clamp(35px, 8vw, 45px);
    font-size: clamp(12px ,8vw, 18px);

}


.btn-default:nth-child(2){
    width: 235px;
    height: clamp(35px, 8vw, 45px);
    color: rgba(240, 255, 255, 0.531);
}

}