@use '../base/varibles.scss' as*;

.about {
    i {
        font-size:clamp(30px, 9vw,70px);
    }


    .swiper {
      width: 200px;
      height: 200px;
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // margin-right: 0px;
      // margin-top: -160px;
    }

    .swiper-wrapper {
      width: 100%;
      height: 100%;
      position:relative;
      animation: 30s linear infinite;
   
    }

    .front {
       transform: rotatex(0deg) translateZ(150px); 
      } 
    .right {
       transform: rotatex(90deg) translateZ(150px); 
      } 
    .back {
       transform: rotatex(180deg) translateZ(150px);
     }
    .left {
       transform: rotatex(270deg) translateZ(150px); 
      }

    @keyframes loop { 

      from { transform: rotateY(0deg);
       }

       to { 
        transform: rotateY(360deg); 
      }
      
    }

}

@media screen and (min-width:640px) {
   
  .about {

    .container {
      padding: 0 50px;
    }
  }

}
@media screen and (min-width:768px) {
  .about {
    .swiper {
      width: 300px;
      height: 300px;
    }

    .swiper-wrapper {
      width: 100%;
      height: 100%;
      position:relative;
      animation: loop 30s linear infinite;
   
    }
    }
  }



@media screen and (min-width:1024px) {
    
  .about {  
    .container {
        padding: 0 50px 0px;
    }

    .swiper {
      width: 320px;
      height: 320px;
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // margin-right: 30px;
      // margin-top: -160px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
    
  }
}

@media screen and (min-width:1440px) {
  

}