@use '../base/varibles.scss' as*;


footer {
    h1 {
        font-weight: bold;
    }
    p {
        line-height: 25px;
        font-size: 17px;
    }

    i {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:1280px) {
    
    footer {

        p {
            font-size: 22px;
            line-height: 30px;
        }

          i {
        font-size: 40px;
        margin-bottom: 30px;
    }
    }
}