@use '../base/varibles.scss'as *;

.head {
   min-height:0;
   padding: 10px 15px;
   background-color: $body-color;
   transition:all 0.2s ease-out;

li {
    color:$light;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    transition: 0.2s ease-in;
}

  li:hover{
        color:$greyblue;
        cursor: pointer;
        text-decoration: underline;
    }

    .icon-menu {
        font-size: 30px;
    }

  .burger {
         width: 40px;
         height: 40px;
          position: relative;
          cursor: pointer;
    
     div {
            width: 25px;
            height: 2px;
            background-color: white;
            transition: 0.3s ease;
       }


    div:first-child {
        transform: rotate(0deg);
        position: absolute;
        top: 25%;
        left: 0px;
    }

    div:nth-child(2) {
        position: absolute;
        top: 50%;
         opacity: 1;
        transition: opacity .2s ease;
    }

    div:last-child {
        transform: rotate(0deg);
        position: absolute;
        top: 75%;
        left: 0px;
    }
    
  }

  .burger.active {
         width: 40px;
         height: 40px;
          position: relative;
        //   border: 1px solid white;
    
     div {
            width: 25px;
            height: 2px;
            background-color: white;
            transition: 0.3s ease;
       }


    div:first-child {
        transform: rotate(-45deg);
        position: absolute;
        top:50%;
        left: 0px;
    }

    div:nth-child(2) {
        position: absolute;
        top: 50%;
        opacity: 0;
        transition: opacity .2s ease;

    }

    div:last-child {
        transform:rotate(45deg);
        position: absolute;
        top: 50%;
        left: 0px;
    }
    
  }

}

   .head.active {
    min-height: 100vh;
    opacity: 1;

    .menu-link {
        display: flex;
        flex-direction: column;
        gap: 0;
        position:absolute;
        text-align: center;
        padding-left: 0;
        top:15%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;

        li {
            padding: 15px 0;
            border-top: 1px solid gray;
        }
        li:last-child {
            border-bottom: 1px solid gray;
        }

        li:hover {
            background-color: gray;
            color: black;
            text-decoration: none;

        }
    }

   }

@media screen and (min-width:768px) {
    
    .burger {
        display:none;
    }
   
}

@media screen and (min-width:1440px) {

    header {
           padding: 30px 80px;
    }
}
