
@use '../base/varibles.scss' as *;

@mixin title {
    color: $smoothlight;
    font-style: normal;
    line-height: normal;
    text-transform:uppercase;
    font-weight: 500;
}

@mixin button {
    font-weight: 400;
    line-height: normal;
    color: white;
}

@mixin text {
	font-weight: 400;
	font-style: normal;
	@content;
}
